extends layout
block content
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
        title #{blog.id}
        link(rel='stylesheet' href='../assets/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet' href='../assets/fonts/ionicons.min.css')
        link(rel='stylesheet' href='../assets/css/Footer-Basic.css')
        link(rel='stylesheet' href='../assets/css/Navigation-Clean.css')
        link(rel='stylesheet' href='../assets/css/styles.css')
    body
        h1(style='color: var(--bs-red);') #{blog.title}
        h1(style='color: var(--bs-blue);') #{blog.snippet}
        h1(style='color: var(--bs-purple);') Content:
        p(style='color: var(--bs-gray-800);') #{blog.body}
        script(src='assets/bootstrap/js/bootstrap.min.js')
